<div class="w3-container nht-profile">
  <div class="w3-row-padding nht-profile-box">

    <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-4 col-lg-4
      col-md-offset-0 col-lg-offset-0">
      <div class="w3-white w3-text-grey w3-card-4 td-user-profile-detail">
        <div class="w3-display-container">
          <% if @shop.avatar_url.present? %>
            <%= image_tag @shop.avatar_url, id: "avatar"%>
            <br />
          <% else %>
            <%= image_tag "profile.jpg", id: "avatar" %>
          <% end %>
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h3><%= @shop.name %></h3>
            <div class="nht-user-invoice">
              <div class="nht-user-sum-invoice">
                <%= t "users.sum_invoices" %>
              </div>
              <div class="nht-user-success-invoice">
                <%= t "users.success_invoices" %>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="w3-container">
          <p class="td-p-flex">
            <i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal">
            </i><%= @shop.role %>
          </p>
          <p class="td-p-flex">
            <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal">
            </i><%= @shop.address %>
          </p>
          <p class="td-p-flex">
            <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal">
            </i><%= @shop.email %>
          </p>
          <p class="td-p-flex">
            <i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal">
            </i><%= @shop.phone_number %>
          </p>
          <hr>
          <div class="nht-user-rate">
            <h4><%= t "users.rate" %></h4>
            <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 nht-user-rate-left">
              <div class="nht-user-rate-content">
                <h1><%= number_with_precision @shop.rate %></h1>
              </div>
              <div class="nht-user-rate-sum">
                <%= t "users.sum_rate", sum: @supports.sum_rate %>
              </div>
            </div>
            <div class="col-sm-8 col-xs-8 col-md-8 col-lg-8 nht-user-rate-right">
              <% ["five", "four", "three", "two", "one"].each do |star| %>
                <div class="bar-content <%= star %>">
                  <i class="fa fa-star star"> <%= Settings.rate.send "load_#{star}_star" %></i>
                  <span class="bar" data-id="<%= @supports.send "load_#{star}_star" %>">
                    <%= @supports.send "load_#{star}_star" %>
                  </span>
                  <div class="clearfix"></div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div><br>
    </div>
    <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-lg-8
      col-md-offset-0 col-lg-offset-0">
      <% if can? :update, @shop %>
        <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
          <div class="text-center nht-profile-title">
              <%= t "users.edit_user" %>
          </div>

          <div class="nht-user-info">
             <%= form_for @shop, url: shop_path(@shop) do |f| %>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user user-name" aria-hidden="true"></i>
                </span>
                <%= f.text_field :name, class: "form-control",
                  placeholder: t("users.name") %>
              </div>

              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-home user-home" aria-hidden="true"></i>
                </span>
                <%= f.text_field :current_location, class: "form-control",
                  placeholder: t("users.address") %>
              </div>

              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-envelope"></i>
                </span>
                <%= f.text_field :email, class: "form-control",
                  placeholder: t("users.email") %>
              </div>


              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-file-image-o" aria-hidden="true"></i>
                </span>
                <%= f.file_field :avatar, class: "form-control",
                  accept: "image/jpeg,image/gif,image/png" %>
              </div>

              <div class="nht-user-submit">
                <%= link_to "Change password", "#", class: "change-password" %>
                <%= f.submit t("users.save"), class: "btn btn-primary" %>
                <div class="clearfix"></div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10
        col-xs-offset-2 col-sm-offset-2 col-md-offset-1 col-lg-offset-1" id="map-profile">
      </div>
      <div class="none">
        <%= hidden_field_tag "td-latitude", @shop.latitude %>
        <%= hidden_field_tag "td-longitude", @shop.longitude %>
      </div>
      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <div class="text-center nht-profile-title">
            <%= t "users.reviews" %>
        </div>

        <div class="td-user-info">
          <%= render "shared/reviews" %>
        </div>
      </div>
    </div>
  </div>
</div>
