<div class="w3-container nht-profile">
  <div class="w3-row-padding nht-profile-box">
    <div id="map-profile">
    </div>
    <div class="none">
      <%= hidden_field_tag "td-latitude", @shop.user_setting.latitude %>
      <%= hidden_field_tag "td-longitude", @shop.user_setting.longitude %>
    </div>

    <nav class="navbar navbar-default">
      <a class="ndq-navbar-brand">
        <%= image_tag avatar_profile(@shop), id: "avatar" %>
        <% if @shop == current_user %>
          <div class="td-edit" data-toggle="modal" data-target="#myModal-edit-avatar">
            <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 35px"></i>
          </div>
        <% end %>
      </a>

      <div id="myModal-edit-avatar" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <%= form_for @shop, url: shop_path do |f| %>

                <%= f.label :name %>
                <%= f.text_field :name, class: "form-control" %>

                <%= f.label :address %>
                <%= f.text_field :address, class: "form-control" %>

                <%= f.label :email %>
                <%= f.email_field :email, class: "form-control" %>

                <%= f.label :password %>
                <%= f.password_field :password, class: "form-control" %>

                <%= f.label :password_confirmation, t("views.users.new.form.confir") %>
                <%= f.password_field :password_confirmation, class: "form-control" %>

                <%= f.file_field :avatar,
                  accept: "image/jpeg,image/gif,image/png" %>
                <%= f.submit "Update", class: "btn btn-primary text-center" %>
              <% end %>
            </div>
          </div>

        </div>
      </div>

      <span class="ndq-site-name"><%= @shop.name %></span>
      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="nav main-menu navbar-nav">
          <li><a><i class="fa fa-cart-plus"></i>
            <%= t "users.sum_invoices" %></a></li>
          <li><a><i class="fa fa-check-square"></i>
            <%= t "users.success_invoices" %></a></li>
        </ul>
      </div>
    </nav>

    <div class="col-md-4">
      <div class="nht-user-rate ndq-area col-md-12">
        <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 nht-user-rate-left">
          <div class="nht-user-rate-content">
            <h1><%= @shop.rate %></h1>
          </div>
          <div class="nht-user-rate-sum">
            <%= t "users.sum_rate", sum: @supports.sum_rate %>
          </div>
        </div>
        <div class="col-sm-8 col-xs-8 col-md-8 col-lg-8 nht-user-rate-right">
          <% Settings.rate.list_rate.each do |numstar| %>
            <div class="bar-content <%= numstar %>">
              <i class="fa fa-star star"><%= Settings.rate.send numstar %></i>
              <span class="bar" data-id="<%= @supports.send numstar %>">
                <%= @supports.send numstar %>
              </span>
              <div class="clearfix"></div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="ndq-area col-md-12">
        <p class="td-p-flex">
          <i class="fa fa-briefcase fa-fw w3-margin-right
            w3-large w3-text-teal"></i><%= @shop.role %>
        </p>
        <p class="td-p-flex">
          <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal">
          </i><%= @shop.address %>
        </p>
        <p class="td-p-flex">
          <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal">
          </i><%= @shop.email %>
        </p>
        <p class="td-p-flex">
          <i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal">
          </i><%= @shop.phone_number %>
        </p>
      </div>
    </div>

    <div class="col-md-8">
      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <div class="text-center nht-profile-title">
          <%= t "users.reviews" %>
        </div>
        <div class="td-user-info">
          <%= render "shared/reviews" %>
        </div>
      </div>
    </div>
  </div>
</div>
