<div class="admin-nht-invoice-show container lvc-admin-invoice">
  <div class="nht-invoice-box margin10 td-admin-map-invoice">
    <div class="nht-text-center">
      <%= t "invoices._info_invoice" %>
    </div>
    <div class="nht-invoice-status">
      <span class="nht-invoice-proper nht-status">
        <%= @invoice.name %>:
      </span>
      <span class="nht-invoice-value">
        <span>
          <i class="fa fa-shopping-cart"></i>
        </span>
      </span>

      <%= render "edit" %>

      <div class="clear-fix"></div>
      <hr>
    </div>

    <div class="nht-invoice-road">
      <div class="nht-invoice-road-left">
        <p class="nht-text-center">
          <%= t "invoices._distance" %>
        </p>
        <p class="nht-text-center nht-color nht-number">
          <%= @invoice.distance_invoice.to_i %> <%= t :km %>
        </p>
      </div>

      <div class="nht-invoice-road-right">
        <div class="nht-line">
          <i class="fa fa-circle-o nht-circle-first nht-color"
            aria-hidden="true"></i>
          <i class="fa fa-circle-o nht-circle-second nht-color"
            aria-hidden="true"></i>
        </div>

        <div class="nht-invoice-road-right-detail">
          <p class="nht-invoice-address-top"><%= @invoice.address_start %></p>
          <p class="nht-invoice-address-bottom"><%= @invoice.address_finish %>
          </p>
        </div>

      </div>
      <div class="clearfix"></div>
    </div>

    <div class="modal-body">
      <div id="map-show-invoice"></div>
    </div>

    <div class="nht-invoice-content">
      <p class="nht-text-center-2">
        <%= t "invoices._detail" %>
      </p>

      <div class="nht-invoice-detail">
        <span class="nht-invoice-proper">
          <%= t "invoices._name" %>
        </span>
        <span class="nht-invoice-value">
          <%= @invoice.name.capitalize %>
        </span>
        <div class="clearfix"></div>
        <hr>
      </div>

      <div class="nht-invoice-detail">
        <span class="nht-invoice-proper">
          <%= t "invoices._shipping_price" %>
        </span>
        <span class="nht-invoice-value">
          <%= number_to_currency @invoice.shipping_price %>
        </span>
        <div class="clearfix"></div>
        <hr>
      </div>

      <div class="nht-invoice-detail">
        <span class="nht-invoice-proper">
          <%= t "invoices._price" %>
        </span>
        <span class="nht-invoice-value">
          <%= number_to_currency @invoice.price %>
        </span>
        <div class="clearfix"></div>
        <hr>
      </div>

      <div class="nht-invoice-detail">
        <span class="nht-invoice-proper">
          <%= t "invoices._delivery_time" %>
        </span>
        <span class="nht-invoice-value">
          <%= @invoice.delivery_time %>
        </span>
        <div class="clearfix"></div>
        <hr>
      </div>
    </div>

    <div class="nht-invoice-customer">
      <p class="nht-text-center-2">
        <%= t "invoices._customer" %>
      </p>
      <div class="nht-invoice-detail">
        <span class="nht-invoice-proper">
          <%= t "invoices._name_customer" %>
        </span>
        <span class="nht-invoice-value">
          <span>
            <i class="glyphicon glyphicon-user"></i>
            <%= @invoice.customer_name.capitalize %>
          </span>
        </span>
        <div class="clearfix"></div>
      </div><hr>

      <div class="nht-invoice-detail">
        <span class="nht-invoice-proper">
          <%= t "invoices._number_customer" %>
        </span>
        <span class="nht-invoice-value">
          <span>
            <i class="glyphicon glyphicon-phone"></i>
            <%= @invoice.customer_number %>
          </span>
        </span>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="clearfix"></div>
    <%= form_for [:shop, @invoice] do |f| %>
      <% Settings.invoice.invoice_attributes.each do |attribute| %>
        <%= f.hidden_field attribute, id: Settings.invoice.send(attribute) %>
      <% end %>
    <% end %>
  </div>
</div>
<div id="report-modal" class="modal fade"></div>
