<% @supports.reviews.each do |f| %>
  <div class="td-user-review">
    <div class="td-user-review-title">
      <span class="pull-left td-user-review-name">
        <%= f.owner.name %>
      </span>
      <span class="pull-right">
        <%= f.rating_point %>
      </span>
      <div class="clearfix"></div>
    </div>
    <hr>
    <i class="td-review-content"><%= f.content %></i>
  </div>
<% end %>
<div id="loadMore" class="hvr-underline-from-center"><%= t :load_more %></div>
<div id="showLess" class="hvr-underline-from-center"><%= t :show_less %></div>
