<div class="index-shipper modal-dialog">
  <div class="modal-content">
    <div class="index-shipper-header base-color">
      <div class="index-shipper-title">
        <%= t "users.shipper_index.title" %>
      </div>

      <div class="index-shipper-search">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-search icon-search" aria-hidden="true"></i>
          </span>
          <%= form_tag shop_shippers_path, method: :get, remote: true do %>
            <%= text_field_tag :name_shipper, "", class: "form-control",
              placeholder: t("users.search") %>
          <% end %>
        </div>
      </div>

      <%= link_to "#", data: {dismiss: "modal"}, class: "close" do %>
        <i><%= image_tag "cut.png" %></i>
      <% end %>

      <div class="dropdown hatd-dropdown-actions">
        <button class="dropdown-toggle hatd-toggle" data-toggle="dropdown">
          <b><%= t "users.shipper_index.#{Settings.shipper.types.list_shipper_received}" %></b>
          <b class="caret"></b>
        </button>

        <ul class="dropdown-menu dropdown-menu-actions hatd-dropdown-menu-actions">
          <% Settings.shipper.types.keys.each do |type| %>
            <%= link_to "/shop/shippers/type/#{type}", remote: true do %>
              <li class="hatd-item-actions">
                <%= t "users.shipper_index.#{type}" %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <div class="clearfix"></div>
    </div>
    <div class="panel panel-default">
      <table class="table table-condensed">
        <thead>
          <div>
            <tr class="hatd-shippers-table-title">
              <div>
                <td><strong><%= t "users.table.avatar" %></strong></td>
              </div>
              <div>
                <td><strong><%= t "users.table.name" %></strong></td>
              </div>
              <div>
                <td><strong><%= t "users.table.plate_number" %></strong></td>
              </div>
              <div>
                <td><strong><%= t "users.table.success_invoices" %></strong></td>
              </div>
              <div>
                <td class="hatd-td"><strong class="hatd-dropdown"><%= t "users.table.action" %></strong></td>
              </div>
            </tr>
          </div>
        </thead>
      </table>
      <div class="div-table-content">
        <table class="table table-condensed">
          <tbody class="index-shipper-table-body" id="hatd-shipper-table-content">
            <%= render "shipper_content" %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
