<div class="nht-nearby-shippers">
  <div id="map_nearby_shippers"></div>
  <div class="list_shippers" data-list_shippers="<%= @shippers.serializable_hash.to_json %>">
  </div>
  <div class="address_shop" data-address_shop="<%= current_user.user_setting.to_json %>">
  </div>
  <div class="nht-nav-left">
    <ul>
      <li class="nht-item">
        <%= link_to "#" do %>
          <span class="invoice nht-icon"></span>
          <span class="nht-item-content"><%= t("invoices.manage_invoices") %></span>
        <% end %>
      </li>

      <li class="nht-item">
        <%= link_to "#" do %>
          <span class="clock nht-icon"></span>
          <span class="nht-item-content"><%= t("invoices.init") %></span>
        <% end %>
      </li>

      <li class="nht-item">
        <%= link_to "#" do %>
          <span class="shippers nht-icon"></span>
          <span class="nht-item-content"><%= t("invoices.manage_shippers") %></span>
        <% end %>
      </li>

    </ul>
  </div>
  <div class="nht-search-address">
    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-search nht-icon-search" aria-hidden="true"></i>
      </span>
      <%= text_field_tag :address, "", class: "form-control",
        id: "nht-search-address-input", placeholder: t("address") %>
    </div>
  </div>
</div>
