<div class="modal-dialog">
  <div class="modal-content">
    <div class="nht-log_in-header">
      <div class="close">
        <%= link_to "#", data: {dismiss: "modal"} do %>
          <i><%= image_tag "cut.png" %></i>
        <% end %>
        <div class="clearfix"></div>
      </div>
      <h2 class="text-center"><%= t "devise.login" %></h2>
    </div>

    <div class="row">
      <div class="col-md-7 col-sm-7 col-xs-12 nht-col-left">
        <%= form_for @user, url: user_session_path, remote: true do |f| %>
          <div id="nht-log_in-errors"></div>

          <div class="input">
            <%= f.label :phone_number %><br/>
            <div class="nht-input">
              <i class="fa fa-phone-square nht-log_in-icon"></i>
              <%= f.text_field :phone_number, autofocus: true,
                class: "form-control log_in-input" %>
            </div>
          </div>

          <div class="input">
            <%= f.label :password %>
            <div class="nht-input">
              <i class="fa fa-key nht-log_in-icon"></i>
              <%= f.password_field :password, autocomplete: "off",
                class: "form-control log_in-input" %>
            </div>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="input">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit t("devise.login"),
              class: "hvr-pulse-shrink btn btn-primary nht-btn-log_in" %>
          </div>
        <% end %>

      </div>
      <div class="col-md-5 col-sm-5 col-xs-12 nht-col-right">
        <%= render "devise/shared/links" %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
