<% @users.each do |user| %>
  <tr class="td-table-data" id="user-<%= user.id %>"
    data-report="<%= user.passive_reviews.report_in_day.size %>">
    <td class="td-name-report">
      <%= link_to user.name, admin_user_path(user) %>
      (<%= user.passive_reviews.report_in_day.size %>)
    </td>
    <td><%= user.email %></td>
    <td><%= user.phone_number %></td>
    <td><%= user.role %></td>
    <td class="td-manage-status" data-key="<%= User.statuses[user.status] %>">
      <%= user.status %>
    </td>
    <td></td>
  </tr>
<% end %>
