<div class="w3-container nht-profile lvc-admin-profile">
  <div class="w3-row-padding nht-profile-box">

    <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-4 col-lg-4
      col-md-offset-0 col-lg-offset-0">
      <div class="w3-white w3-text-grey w3-card-4 td-user-profile-detail">
        <div class="w3-display-container">
          <%= image_tag avatar_profile(current_user.avatar.url), id: "avatar" %>
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h3><%= @user.name %></h3>
            <div class="nht-user-invoice">
              <div class="nht-user-sum-invoice">
                <%= t "users.sum_invoices" %>
              </div>
              <div class="nht-user-success-invoice">
                <%= t "users.success_invoices" %>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="w3-container">
          <p class="td-p-flex">
            <i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal">
            </i><%= @user.role %>
          </p>
          <p class="td-p-flex">
            <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal">
            </i><%= @user.address %>
          </p>
          <p class="td-p-flex">
            <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal">
            </i><%= @user.email %>
          </p>
          <p class="td-p-flex">
            <i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal">
            </i><%= @user.phone_number %>
          </p>
        </div>
        <hr>
        <div class="w3-container">
          <%= render "edit" %>
        </div>
      </div><br>
    </div>
    <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-lg-8
      col-md-offset-0 col-lg-offset-0">
      <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10
        col-xs-offset-2 col-sm-offset-2 col-md-offset-1 col-lg-offset-1"
        id="map-admin-profile">
      </div>
      <div class="none">
        <%= hidden_field_tag "td-latitude", @user.user_setting.latitude %>
        <%= hidden_field_tag "td-longitude", @user.user_setting.longitude %>
      </div>
      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <div class="text-center nht-profile-title">
          <%= t "manage_users.show.report" %>
        </div>
        <div class="td-user-info">
          <%= render "reports" %>
        </div>
      </div>
    </div>
  </div>
</div>
