<div class="modal-dialog">
  <div class="modal-content">
    <div class="form-new-invoice">
      <%= form_for [:shop, @invoice], remote: true do |f| %>
        <h2><%= t "invoices.title" %></h2>

        <%= render "shared/error_messages", object: @invoice %>

        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
          </span>
          <%= f.text_field :name, class: "form-control td-fix-input",
            placeholder: t("invoices.name") %>
          <span class="input-group-addon nht-unit">
            <i><%= t :vnd %></i>
          </span>
        </div>

        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-balance-scale" aria-hidden="true"></i>
          </span>
          <%= f.text_field :weight, class: "form-control td-fix-input",
            placeholder: t("invoices.weight") %>
          <span class="input-group-addon nht-unit">
            <i><%= t :kg %></i>
          </span>
        </div>

        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-dollar" aria-hidden="true"></i>
          </span>
          <%= f.text_field :price, class: "form-control td-fix-input",
            placeholder: t("invoices.price") %>
          <span class="input-group-addon nht-unit">
            <i><%= t :vnd %></i>
          </span>
        </div>

        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-dollar" aria-hidden="true"></i>
          </span>
          <%= f.text_field :shipping_price, class: "form-control td-fix-input",
            placeholder: t("invoices.shipping_price") %>
          <span class="input-group-addon nht-unit">
            <i><%= t :vnd %></i>
          </span>
        </div>

        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
          </span>
          <%= f.text_field :delivery_time, class: "form-control td-fix-input",
            placeholder: t("invoices.delivery_time") %>
        </div>

        <h2><%= t "invoices.customer" %></h2>

        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-user" aria-hidden="true"></i>
          </span>
          <%= f.text_field :customer_name, class: "form-control td-fix-input",
            placeholder: t("invoices.customer_name") %>
        </div>

        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </span>
          <%= f.text_field :customer_number, class: "form-control td-fix-input",
            placeholder: t("invoices.customer_number") %>
        </div>

        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-edit" aria-hidden="true"></i>
          </span>
          <%= f.text_field :description, class: "form-control td-fix-input",
            placeholder: t("invoices.description") %>
        </div>

        <div class="nht-btn-invoice">
          <%= f.submit t(:_create), class: "btn btn-primary td-fix-button-1" %>
          <%= link_to t(:_cancel), "#", class: "btn btn-danger td-fix-button-2",
            data: {dismiss: "modal"} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
