<div class="modal-dialog">
  <div class="modal-content">
    <div class="lvc-invoice-title base-color">
      <div class="lvc-invoice-status">
        <%= t "invoices._edit_invoice" %>
      </div>
      <%= link_to "#", data: {dismiss: "modal"}, class: "close" do %>
          <i class="fa fa-times" aria-hidden="true"></i>
      <% end %>
      <div class="clearfix"></div>
    </div>
    <div class="form">
      <%= form_for [:shop, @invoice], remote: true do |f| %>
        <div id="td-create-error"></div>

        <div>
          <p class="td-shop-title">
            <%= t "create_invoice.info_information" %>
          </p>
          <div>
            <%= f.text_field :address_start, class: "form-control td-input",
              placeholder: t("address_start") %>
          </div>
        </div>

        <div>
          <p class="td-shop-title">
            <%= t "create_invoice.customer_information" %>
          </p>
          <div>
            <%= f.text_field :address_finish, class: "form-control td-input",
              placeholder: t("address_finish") %>
            <%= f.text_field :distance_invoice, class: "form-control td-input",
              readonly: true %>
          </div>
          <div>
            <%= f.text_field :customer_name, class: "form-control td-input",
              placeholder: t("invoices.customer_name") %>
            <%= f.text_field :customer_number, class: "form-control td-input",
              placeholder: t("invoices.customer_number") %>
            <%= f.text_field :delivery_time, class: "form-control td-input clockpicker",
              placeholder: t("invoices.delivery_time_input"),
              "data-autoclose": "true", "data-placement": "top" %>
            <%= f.text_area :description, class: "form-control td-input td-textarea-fix",
              placeholder: t("invoices.description"), "data-autoresize": "nil" %>
          </div>
        </div>

        <div>
          <p class="td-shop-title">
            <%= t "create_invoice.invoice_information" %>
          </p>
          <div class="td-line"></div>
          <div class="td-invoice-infomation-content">
            <%= f.text_field :name, class: "form-control td-input",
              placeholder: t("invoices.name") %>
            <%= f.text_field :price, class: "form-control td-input",
              placeholder: t("invoices.price") %>
            <%= f.text_field :shipping_price, class: "form-control td-input",
              placeholder: t("invoices.shipping_price") %>
            <%= f.text_field :weight, class: "form-control td-input",
              placeholder: t("invoices.weight") %>
          </div>
        </div>

        <div class="hidden">
          <%= f.text_field :latitude_start, class: "form-control td-input",
            id: "td-invoice-latitude_start" %>

          <%= f.text_field :longitude_start, class: "form-control td-input",
            id: "td-invoice-longitude_start" %>

          <%= f.text_field :latitude_finish, class: "form-control td-input",
            id: "td-invoice-latitude_finish" %>

          <%= f.text_field :longitude_finish, class: "form-control td-input",
            id: "td-invoice-longitude_finish" %>
        </div>
        <div class="lvc-btn-edit_invoice">
          <button type="button" class="btn btn-default" data-toggle="modal"
            data-target="#id-nht-invoices-index"><%= t :back %></button>
          <%= f.submit t(:_update), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
