<div>
  <% if shipper %>
    <div>
      <%= "Name: " %><%= shipper[:name] %>
    </div>
    <div>
      <%= "Rate: " %><%= shipper[:rate]%>
    </div>
    <div>
      <%= "Phone: "%><%= shipper[:phone_number]%>
    </div>
  <% end %>
</div>
