<% @invoices.each do |invoice| %>
  <tr data-href= "<%= shop_invoice_path(invoice) %>" class="invoice-show">
    <td><%= invoice.name %></td>
    <td><%= l invoice.created_at, format: :default %></td>
    <td><%= invoice.address_finish %></td>
    <td><%= invoice.address_start %></td>
    <td><%= invoice.status %></td>
    <td>
      <%= link_to t("invoices.recieved_shippers", number_shipper: invoice.number_of_recipients),
        shop_list_shippers_path(invoice_id: invoice.id),
        remote: true, class: "btn btn-primary", id: "nht-invoice-list-shippers-btn" %>
      <%= link_to "#", class: "btn btn-danger" do %>
      <% end %>
    </td>
  </tr>
<% end %>
