<div class="nht-shippers modal-dialog">
  <div class="modal-content">
    <div class="nht-invoices-title base-color">
      <div class="nht-invoices-status">
        <%= t("invoices.status", status: @invoices.first.status).upcase %>
      </div>

      <div class="nht-invoices-search">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-search nht-icon-search" aria-hidden="true"></i>
          </span>
          <%= form_tag shop_invoices_path, method: :get, remote: true do %>
            <%= text_field_tag :name_invoice, "", class: "form-control",
              placeholder: t("invoices.name") %>
          <% end %>
        </div>
      </div>

      <%= link_to "#", data: {dismiss: "modal"}, class: "close" do %>
        <i class="fa fa-times" aria-hidden="true"></i>
      <% end %>

      <div class="dropdown nht-dropdown-status">
        <button class="dropdown-toggle" data-toggle="dropdown">
          <%= Settings.invoice.status.all.capitalize %><b class="caret"></b>
        </button>

        <ul class="dropdown-menu nht-dropdown-menu-status">
          <%= link_to "/shop/invoices/status/all", remote: true do %>
            <li class="nht-item-status">
              <%= Settings.invoice.status.all.capitalize %>
            </li>
          <% end %>
          <% Settings.invoice_status.status.each do |status| %>
            <%= link_to "/shop/invoices/status/#{status}", remote: true do %>
              <li class="nht-item-status">
                <%= status.capitalize %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="table">
      <table class="table table-hover">
        <thead>
          <tr class="nht-invoice-table-title">
            <td><strong><%= t "invoices.name_invoice" %></strong></td>
            <td><strong><%= t "invoices.created_at" %></strong></td>
            <td><strong><%= t "invoices.address_finish" %></strong></td>
            <td><strong><%= t "invoices.address_start" %></strong></td>
            <td><strong><%= t "invoices._status" %></strong></td>
            <td><strong><%= t "invoices.action" %></strong></td>
          </tr>
        </thead>
        <tbody class="nht-invoice-table-body" id="nht-invoice-table-content">
          <%= render "invoice_content" %>
        </tbody>
      </table>
    </div>
  </div>
</div>
