<div class="lvc-invoice modal-dialog">
  <div class="modal-content">
    <div class="lvc-invoice-title base-color">
      <div class="back">
        <button type="button" class="btn-back reload-data">
          <i class="fa fa-arrow-circle-left nht-icon" aria-hidden="true"></i>
        </button>
      </div>
      <div class="lvc-invoice-status">
        <%= t "invoices._info_invoice" %>
      </div>
      <%= link_to "#", data: {dismiss: "modal"}, class: "close" do %>
        <i><%= image_tag "cut.png" %></i>
      <% end %>
      <div class="clearfix"></div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 td-invoice-show">
      <table class="width-100 td-invoices-show-table-1">
        <tbody>
          <tr>
            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <i><%= t "invoices._name_customer" %>:</i>
            </td>
            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <b><%= invoice.customer_name.capitalize %></b>
            </td>
          </tr>
          <tr>
            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <i><%= t "invoices._number_customer" %>:</i>
            </td>
            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <b><%= invoice.customer_number %></b>
            </td>
          </tr>
          <tr>
            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <i><%= t "invoices.address" %>:</i>
            </td>
            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <b class="td-cursor" title="<%= invoice.address_finish %>">
                <%= truncate invoice.address_finish,
                  length: Settings.length_address_truncate %>
              </b>
            </td>
          </tr>
        </tbody>
      </table>
      <hr>
      <table class="width-100 td-invoices-show-table-2">
        <tbody>
          <tr>
            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <i><%= t "invoices.name_invoice" %>:</i>
            </td>
            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <b><%= invoice.name.capitalize %></b>
            </td>
          </tr>
          <tr>
            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <i><%= t "invoices._price" %>:</i>
            </td>
            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <b><%= number_to_currency invoice.price %></b>
            </td>
          </tr>
          <tr>
            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <i><%= t "invoices._distance" %>:</i>
            </td>
            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <b><%= number_with_precision invoice.distance_invoice %> <%= t :km %></b>
            </td>
          </tr>
          <tr>
            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <i><%= t "invoices._delivery_time" %>:</i>
            </td>
            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <b><%= invoice.delivery_time %></b>
            </td>
          </tr>
          <tr>
            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <i><%= t "invoices.weight_invoice" %>:</i>
            </td>
            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <b><%= number_with_precision invoice.weight %> <%= t :kg %></b>
            </td>
          </tr>
          <tr>
            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <i><%= t "invoices._description" %>:</i>
            </td>
            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <b><%= invoice.description %></b>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 td-invoice-show">
      <table class="width-100 td-invoices-show-table-1">
        <tbody>
          <tr>
            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <i><%= t "invoices.shop" %>:</i>
            </td>
            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <b><%= invoice.shop.name.capitalize %></b>
            </td>
          </tr>
          <tr>
            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <i><%= t "invoices._number_customer" %>:</i>
            </td>
            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <b><%= invoice.shop.phone_number %></b>
            </td>
          </tr>
          <tr>
            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <i><%= t "invoices.address" %>:</i>
            </td>
            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <b class="td-cursor" title="<%= invoice.address_start %>">
                <%= truncate invoice.address_start,
                  length: Settings.length_address_truncate %>
              </b>
            </td>
          </tr>
        </tbody>
      </table>

      <hr>

      <table class="width-100 td-invoices-show-table-2">
        <tbody>
          <tr>
            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <i><%= t "invoices.shipper_receive_invoice" %>:</i>
            </td>
            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <% if @support.shipper.present? %>
                <b><%= @support.shipper[:name] %></b>
              <% else %>
                <b><%= t :none %></b>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <i><%= t "invoices._shipping_price" %>:</i>
            </td>
            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <b><%= number_to_currency invoice.shipping_price %></b>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <div class="show-invoice-action">
        <hr>
        <% unless invoice.finished? || invoice.cancel? %>
          <div class="finished">
            <% if invoice.shipped? %>
              <%= form_for [:shop, invoice], method: :patch, remote: true do |f| %>
                <%= hidden_field_tag :status, Settings.invoice.status[:finished] %>
                <%= f.submit t("invoices.update.finished"),
                  class: "btn btn-primary invoice-status-change" %>
              <% end %>
            <% end %>
          </div>
          <div id="">
            <%= form_for [:shop, invoice], method: :patch, remote: true do |f| %>
              <%= hidden_field_tag :status, Settings.invoice.status[:cancel] %>
              <%= f.submit t("invoices.cancel"),
                class: "btn btn-danger invoice-status-change" %>
            <% end %>
          </div>
        <% end %>

        <div id="lvc-report-invoice">
          <% if invoice.cancel? && !current_user.report?(invoice) %>
            <%= link_to t("report.title"), new_shop_report_path(invoice_id: invoice.id),
              remote: true, class: "btn btn-danger lvc-btn-report" %>
          <% end %>
          <div class="clearfix"></div>
        </div>

        <div id="lvc-rate-invoice-form">
          <% if invoice.finished? && !current_user.rate?(invoice) %>
            <%= link_to t("rate.title"), new_shop_rate_path(invoice_id: invoice.id),
              remote: true, class: "btn btn-primary lvc-btn-rate" %>
          <% end %>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="nht-invoice-rate">
          <% if current_user.rate? invoice %>
            <%= render "shop/rates/rate", rates: invoice.reviews.rate %>
          <% end %>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div id="report-modal" class="modal fade"></div>
<div id="rate-modal" class="modal fade"></div>

