<% @invoices.each do |invoice| %>
  <tr data-href="<%= shop_invoice_path(invoice) %>" id="<%= invoice.id %>"
    class="invoice-show shop_invoice_row">
    <td><%= invoice.name %></td>
    <td><%= l invoice.created_at, format: :default %></td>
    <td><%= invoice.address_finish %></td>
    <td><%= invoice.address_start %></td>
    <td><b><%= invoice.status %></b></td>
    <td>
      <%= link_to t("invoices.received_shippers", number_shipper: invoice.number_of_recipients),
        shop_list_shippers_path(invoice_id: invoice.id),
        remote: true, class: "btn btn-primary nht-invoice-list-shippers-btn" %>
      <% if invoice.shipped? %>
        <%= form_for [:shop, invoice], remote: true, method: :patch do |f| %>
          <%= hidden_field_tag :status, "finished" %>
          <%= hidden_field_tag :list_back_status, invoice.status %>
          <%= f.submit t("invoices.finished"), class: "btn btn-primary" %>
        <% end %>
      <% end %>
      <%= link_to t("invoices.update.edit"), edit_shop_invoice_path(invoice), remote: true,
        class: "btn btn-primary nht-invoice-list-shippers-btn" %>
    </td>
  </tr>
<% end %>
