<div class="nht-invoice-show container">
  <div class="nht-invoice-box margin10">
    <div class="nht-text-center">
      <%= t "invoices._info_invoice" %>
    </div>
    <div class="nht-invoice-status">
      <span class="nht-invoice-proper nht-status">
        <%= t "invoices._status" %>:
      </span>
      <span class="nht-invoice-value">
        <span>
          <i class="fa fa-shopping-cart"></i>
        </span>
      </span>
      <hr>
    </div>

    <div class="nht-invoice-road">
      <div class="nht-invoice-road-left">
        <p class="nht-text-center">
          <%= t "invoices._distance" %>
        </p>
        <p class="nht-text-center nht-color nht-number">
          <%= invoice.distance_invoice.to_i %> <%= t :km %>
        </p>
      </div>

      <div class="nht-invoice-road-right">
        <div class="nht-line">
          <i class="fa fa-circle-o nht-circle-first nht-color"
            aria-hidden="true"></i>
          <i class="fa fa-circle-o nht-circle-second nht-color"
            aria-hidden="true"></i>
        </div>

        <div class="nht-invoice-road-right-detail">
          <p class="nht-invoice-address-top"><%= invoice.address_start %></p>
          <p class="nht-invoice-address-bottom"><%= invoice.address_finish %>
          </p>
        </div>

        <button type="button" class="btn btn-primary" data-toggle="modal"
          data-target="#myModal"><%= t"invoice._show_route" %></button>
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                </button>
                <h5 class="modal-title"><%= t :from %>
                  <%= invoice.address_start %><%= t :to %>
                  <%= invoice.address_finish %></h5>
              </div>
              <div class="modal-body">
                <div id="map-on-invoice"></div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default"
                  data-dismiss="modal"><%= t :close %></button>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="clearfix"></div>
      <hr>
    </div>

    <div class="nht-invoice-content">
      <p class="nht-text-center-2">
        <%= t "invoices._detail" %>
      </p>

      <div class="nht-invoice-detail">
        <span class="nht-invoice-proper">
          <%= t "invoices._name" %>
        </span>
        <span class="nht-invoice-value">
          <%= invoice.name.capitalize %>
        </span>
        <div class="clearfix"></div>
        <hr>
      </div>

      <div class="nht-invoice-detail">
        <span class="nht-invoice-proper">
          <%= t "invoices._shipping_price" %>
        </span>
        <span class="nht-invoice-value">
          <%= number_to_currency invoice.shipping_price %>
        </span>
        <div class="clearfix"></div>
        <hr>
      </div>

      <div class="nht-invoice-detail">
        <span class="nht-invoice-proper">
          <%= t "invoices._price" %>
        </span>
        <span class="nht-invoice-value">
          <%= number_to_currency invoice.price %>
        </span>
        <div class="clearfix"></div>
        <hr>
      </div>

      <div class="nht-invoice-detail">
        <span class="nht-invoice-proper">
          <%= t "invoices._delivery_time" %>
        </span>
        <span class="nht-invoice-value">
          <%= invoice.delivery_time %>
        </span>
        <div class="clearfix"></div>
        <hr>
      </div>
    </div>

    <div class="nht-invoice-customer">
      <p class="nht-text-center-2">
        <%= t "invoices._customer" %>
      </p>
      <div class="nht-invoice-detail">
        <span class="nht-invoice-proper">
          <%= t "invoices._name_customer" %>
        </span>
        <span class="nht-invoice-value">
          <span>
            <i class="glyphicon glyphicon-user"></i>
            <%= invoice.customer_name.capitalize %>
          </span>
        </span>
        <div class="clearfix"></div>
      </div><hr>

      <div class="nht-invoice-detail">
        <span class="nht-invoice-proper">
          <%= t "invoices._number_customer" %>
        </span>
        <span class="nht-invoice-value">
          <span>
            <i class="glyphicon glyphicon-phone"></i>
            <%= invoice.customer_number %>
          </span>
        </span>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="clearfix"></div>

    <%= form_for [:shop, invoice] do |f| %>
      <% Settings.invoice.invoice_attributes_map_marker.each do |attribute| %>
        <%= f.hidden_field attribute, id: Settings.invoice.send(attribute) %>
      <% end %>
    <% end %>

    <% unless invoice.finished? || invoice.cancel? %>
      <hr>
      <div class="nht-invoice-btn-update-status">
        <div class="finished">
          <% if invoice.shipped? %>
            <%= form_for [:shop, invoice], method: :patch do |f| %>
              <%= hidden_field_tag :status, Settings.invoice.status[:finished] %>
              <%= f.submit t("invoices.update.finished"), class: "btn btn-primary" %>
            <% end %>
          <% end %>
        </div>
        <div class="cancel">
          <%= form_for [:shop, invoice], method: :patch do |f| %>
            <%= hidden_field_tag :status, Settings.invoice.status[:cancel] %>
            <%= f.submit t("invoices.update.cancel"), class: "btn btn-cancel",
              data: {confirm: t("confirm.you_sure")} %>
          <% end %>
        </div>
      </div>
      <div class="clearfix"></div>
    <% end %>

    <% if invoice.cancel? && !current_user.report?(invoice) %>
      <div id="nht-report-invoice">
        <hr>
        <%= link_to t("report.title"), new_shop_report_path(invoice_id: invoice.id),
          remote: true, class: "btn btn-danger nht-btn-report" %>
        <div class="clearfix"></div>
      </div>
    <% end %>

    <% if invoice.finished? && !current_user.rate?(invoice) %>
      <div id="nht-rate-invoice-form">
        <hr>
        <%= link_to t("rate.title"), new_shop_rate_path(invoice_id: invoice.id),
          remote: true, class: "btn btn-primary nht-btn-rate" %>
        <div class="clearfix"></div>
      </div>
    <% end %>
  </div>
  <div class="clearfix"></div>
  <% if current_user.rate? invoice %>
    <div class="nht-invoice-rate">
      <%= render "shop/rates/rate", rates: invoice.reviews.rate %>
    </div>
  <% end %>
</div>
<div id="report-modal" class="modal fade"></div>
<div id="rate-modal" class="modal fade"></div>

<b>Lich su don hang: </b>
<% @support.status_histories.each do |status_history| %>
  <div>
    <%= t("status_history.#{status_history.status}") %>
    Time: <%= status_history.time %>
  </div>
<% end %>

<% if invoice.init? %>
  <%= render "list_shipper", shippers: @support.list_receive_shippers,
    number_of_recipients: @support.number_of_recipients %>
<% else %>
  <b>Thong tin shipper : </b>
  <%= render "info_shipper", shipper: @support.shipper %>
<% end %>
