<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top
  nht-navbar base-color">
  <div class="navbar-header page-scroll">
  <%= link_to shop_root_path, class: "navbar-brand page-scroll" do %>
    <%= image_tag "logo.png", id: "logo" %>
  <% end %>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li class="hidden">
        <a href="#page-top"></a>
      </li>
      <li class="nht-notification-icon">
        <i class="fa fa-globe">
          <div class="nht-notification-count">
            <%= current_user.user_setting.unread_notification %>
          </div>
        </i>
        <div class="nht-up-arrow">
          <%= image_tag "up-arrow.png", class: "img-responsive" %>
        </div>
        <div class="nht-notifications">
          <div class="notification-title">
            <%= t "notifications.title" %>
          </div>
          <ul class="nht-noti-list">
            <% @notifications.each do |notification| %>
              <%= link_to shop_invoice_path(notification.invoice) do %>
                <li class="nht-notification notification-<%= notification.id %>
                  <%= notification.read %>-notification ">
                  <span class="col-md-2 col-lg-2 nht-notification-avatar">
                    <% if notification.owner.avatar_url.present? %>
                      <%= image_tag notification.owner.avatar.url, id: "avatar-#{notification.id}",
                        class: "img-responsive nht-avatar" %>
                    <% else %>
                      <%= image_tag "profile.jpg", id: "avatar-#{notification.id}",
                        class: "img-responsive nht-avatar" %>
                    <% end %>
                    <div class="clearfix"></div>
                  </span>
                  <span class="col-md-10 col-lg-10 nht-notification-content">
                    <div class="content">
                      <%= truncate notification_content(notification),
                        length: Settings.length_notification %>
                    </div>
                    <div class="small">
                      <%= time_ago_in_words notification.created_at %>
                    </div>
                  </span>
                  <div class="clearfix"></div>
                </li>
                <div class="clearfix"></div>
              <% end %>
            <% end %>
          </ul>
        </div>
      </li>

      <li class="dropdown header-item" id="_profile">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%= image_tag avatar_profile(current_user.avatar.url), id: "avatar" %>
          <%= truncate current_user.name, length: Settings.max_length_name %><b class="caret"></b>
        </a>
        <ul class="dropdown-menu nht-dropdown">
          <li><%= link_to t("_profile"), shop_path(current_user) %></li>
          <li>
            <%= link_to t("users.list"), shops_path %>
          </li>
          <li>
            <%= link_to t(:log_out), destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
