<nav class="navbar navbar-default navbar-custom navbar-fixed-top nht-navbar">
  <div class="container">
    <div class="navbar-header page-scroll">
    <%= link_to t(:title), root_path, class: "navbar-brand page-scroll" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="active" id="_home">
          <%= link_to t(:home), root_path, class: "header-item" %>
        </li>
        <li id="_your-invoice">
          <%= link_to t("_your_invoices"), shop_invoices_path, class: "header-item" %>
        </li>
        <li class="dropdown header-item" id="_profile">
          <a href="#" class="dropdown-toggle logo" data-toggle="dropdown">
            <%= current_user.name %><b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to t("_profile"), current_user %></li>
            <li>
              <%= link_to t("users.list"), users_path %>
            </li>
            <li>
              <%= link_to t(:log_out), destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
