<nav class="navbar navbar-default navbar-custom navbar-fixed-top nht-navbar">
  <div class="container">
    <div class="navbar-header page-scroll">
    <%= link_to t(:title), root_path, class: "navbar-brand page-scroll" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li id="_your-invoice">
          <%= link_to t("_your_invoices"), shop_invoices_path, class: "header-item" %>
        </li>
        <li class="nht-notification-icon">
          <i class="fa fa-globe"></i>
          <div class="nht-notifications">
            <ul class="nht-noti-list">
              <% @notifications.each do |notification| %>
                <%= link_to shop_invoice_path(notification.invoice) do %>
                  <li class="nht-notification notification-<%= notification.id %>">
                    <div class="nht-notification-avatar">
                      <%= image_tag notification.owner.avatar.url, class: "img-responsive" %>
                      <div class="clearfix"></div>
                    </div>
                    <div class="nht-notification-content">
                      <%= notification_content notification %>
                    </div>
                    <div class="clearfix"></div>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </li>
        <li class="dropdown header-item" id="_profile">
          <a href="#" class="dropdown-toggle logo" data-toggle="dropdown">
            <%= current_user.name %><b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to t("_profile"), shop_path(current_user) %></li>
            <li>
              <%= link_to t("users.list"), shops_path %>
            </li>
            <li>
              <%= link_to t(:log_out), destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
