<nav class="w3-sidenav w3-collapse w3-white w3-animate-left w3-card-2"
  id="mySidenav">
  <div class="w3-accordion">
    <a id="myBtn" href="javascript:void(0)">
      <i class="fa fa-inbox w3-padding-right"></i><%= t "invoices.title-2" %>
      <i class="w3-padding-left fa fa-caret-down"></i>
    </a>
    <div id="Demo1" class="sidebar_content w3-accordion-content w3-animate-left">
      <% Settings.invoice.status.to_h.without(:reject).values.each do |status| %>
        <div href="javascript:void(0)" data-check="<%= status %>"
          class="list-category <%= status %>-sidebar">
          <%= link_to t("invoices.#{status}"),
            shop_invoices_path(invoice: {status: status}),
            class: "hvr-sweep-to-top" %>
          <div class="clearfix"></div>
        </div>
      <% end %>

      <div class="btn-new_invoice">
        <div class="bounceInUp">
          <%= link_to new_shop_invoice_path,
            class: "td-fix-w3 w3-padding-right back-trans " do %>
            <i class="glyphicon glyphicon-collapse-up w3-padding-right"></i>
            <%= t "invoices.new" %>
          <% end %>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</nav>

<div class="w3-overlay w3-hide-large w3-animate-opacity close_side_menu"
  title="Close Sidemenu" id="myOverlay"></div>
