<!DOCTYPE html>
<html>
  <head>
    <title><%= t :title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>

  <body>
    <% if user_signed_in? %>
      <div class="nht-header">
        <%= render "layouts/header" %>
      </div>
    <% end %>
    <div class="container-fluid status" id="main">
      <div class="row">
        <div id="flash">
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %> nht-flash"><%= message %></div>
          <% end %>
          <div class="clearfix"></div>
        </div>
        <% if user_signed_in? %>
          <%= render "layouts/sidebar" %>
        <% end %>
        <div class="w3-main td-nav-hide">
          <%= yield %>
        </div>
      </div>
    </div>
    <footer class="footer">
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
